body {
    margin: 0
}

header {
    background: tomato;
    text-align: center;
}

.logo{
    color: #FFF;
    font-family: 'Nunito';
    text-align: center;
}
header input{
    font-size: 20px;
    margin: 20px 0;
}

