body {
    margin: 0;
    font-family: 'Nunito';
}

header {
    background: tomato;
    text-align: center;
}

.logo{
    color: #FFF;
    font-family: 'Nunito';
    text-align: center;
    font-size:  40px;

}
header input{
    font-size: 20px;
    margin: 20px 0;
}

